<div class="default">
  <app-header></app-header>
  <app-nav></app-nav>
  <main class="container">
      <section>
        <h1>Listagem de conteúdos</h1>
        <p>
          A seguir, você pode visualizar todos os tópicos registrados no Info Sistemas, com a opção de aplicar um filtro pelo título da postagem ou matéria.
        </p>
      </section>
      <table class="table" id="tabelaConteudos">
        <thead>
          <tr>
            <th scope="col">Título <input class="ml-1" type="text" id="filtroTitulo" placeholder="Filtrar por título" [(ngModel)]="titulo" (keyup)="botaoPressionado($event)"></th>
            <th scope="col">Matéria <input class="ml-1" type="text" id="filtroDescricao" placeholder="Filtrar por descrição" [(ngModel)]="materia" (keyup)="botaoPressionado($event)"></th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr class="box" *ngFor="let conteudo of this.conteudos">
            <td>{{conteudo.titulo}}</td>
            <td>{{conteudo.materia}}</td>
            <td><button type="button" class="btn btn-warning btn-sm custom-button" (click)="Visualizar(conteudo.id)">Visualizar</button></td>
          </tr>
        </tbody>
      </table>
  </main>
  <app-footer></app-footer>
</div>