html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.default {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, nav, main, footer {
    padding: 20px;
}

header, footer {
    background-color: #f2f2f2;
}

nav {
    background-color: #eaeaea;
}

main {
    flex-grow: 1;
    background-color: #ffffff;
}